body{
  margin: 0;
  font-family: "acumin-pro";

}

.welcome a { color: inherit; } 

.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/coffeebook.jpeg");
width: 100vw;
height: 100vh;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
color: white; 
}


#search-h1 {
  font-size: 5em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

#search-h2{
  font-size: 2em;
}

.welcome{
  margin-bottom: 12em;
}

.welcome h1{
  font-size: 5em;
}

.btn-light{
  color: white;
  margin-top: 10px;
  border: 0;
  background: transparent;
  padding: 0 2em;
  font-size: 2em;
  border-radius: 20px;

}

.navbar-nav.ml-auto:last-child {
    margin-right: 0;
}

.navbar-nav.ml-auto li a{
  color: white !important;
}

nav a:hover {
  border-bottom: 2px solid white;
  padding: 6px 0; 
}

/* Full-width inputs */
.index_uname, .index_upass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-primary {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-control-register {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgb(241, 240, 240);
}

.form-group {
  font-weight: bold;
}

.signup-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

.contact{
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "acumin-pro";
}

.icon {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 30px;
  padding: 2px;
  transition: .5s;
}

.social-icons{
  border: 1px solid #000000;
  display: inline-flex;
  border-radius: 5px;
  font-family: "acumin-pro";
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

}

.logged-list{
  font-size: 20px;
}

table {
  width: 90%;
}

td {
  padding: 1px;
  border-bottom: 1px solid black;
}
th {
  cursor: pointer;
  border-bottom: 1px solid black;
}

th:hover {
  background-color: cornflowerblue;
  opacity: 0.8;
  padding: 6px 0; 
}
