body{
  margin: 0;
  font-family: "acumin-pro";
  background-color: palegoldenrod;

}

/* NAVBAR */
.navbar-nav.ml-auto:last-child {
  margin-right: 0;
}

.navbar-nav.ml-auto li a{
color: white !important;
}

nav a:hover {
border-bottom: 2px solid white;
padding: 6px 0; 
}

/* LANDING PAGE */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/coffeebook.jpeg");
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  }
  
/* successful log in page */
.welcome a { color: inherit; } 

.welcome{
  margin-bottom: 12em;
}

.welcome h1{
  font-size: 5em;
}

.logged-list{
  font-size: 20px;
}

/* results page after search */

td a {
  color: inherit;
}

#myTable {
  background-color: rgb(159, 186, 238);
  border-radius: 5px;
  text-align: center;
}

table {
  width: 80%;
  margin: 0 auto;
}

td {
  padding: 5px;
  font-size: 120%;
}

th{
  border-bottom: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  font-size: 125%;
  background-color: cornflowerblue;
}

th:hover {
  border-bottom: 2px solid white;
  opacity: 0.8;
  padding: 6px 0; 
}

/* book page with reviews */

.book-rating label {
  padding-right: 12px;
}

.book-info {
  text-align: center;
  margin-top: 50px;
}

.reviews {
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
}

hr {
  border: 1px solid #b9b9b9;
  margin-bottom: 25px;
}

.username{
  color: royalblue;
  text-align: left;
}

.comment {
  text-align: center;
}

.comment-area{
  background-color: cornflowerblue;
  border-radius: 20px;
  padding: 50px;
  margin-right: 150px;
}

/* SEARCH PAGE */

#search-h1 {
  font-size: 5em;
  margin-bottom: 0.5em;
  margin-top: 0;
}

#search-h2{
  font-size: 2em;
}

#result-search{
  width: 70%;
}


.btn-light{
  color: white;
  margin-top: 10px;
  border: 0;
  background: transparent;
  padding: 0 2em;
  font-size: 2em;
  border-radius: 20px;

}

/* Full-width inputs */
.index_uname, .index_upass {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.btn-primary {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-control-register {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgb(241, 240, 240);
}

.form-group {
  font-weight: bold;
}

.signup-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* CONTACT PAGE */
.contact{
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "acumin-pro";
}

.icon {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 30px;
  padding: 2px;
  transition: .5s;
}

.social-icons{
  border: 1px solid #000000;
  display: inline-flex;
  border-radius: 5px;
  font-family: "acumin-pro";
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

}