{% extends "layout.html" %}
{% block content %}
   {% if response %}
        <h2>{{ response[1]["isbn"] }}</h2>
        <h2>{{ response[0]["title"] }}</h2>
        <h2>{{ response[0]["author"] }}</h2>
        <h2>{{ response[0]["year"] }}</h2>
        <h2> Average Ratings: {{ response[1]["average_rating"] }}</h2>
        <h2> Number of Ratingss: {{ response[1]["ratings_count"] }}</h2>
        {% if review %}
            <h1> REVIEWS </h1>
            <h2>{{ review[0]["username"] }} says: {{ review[0]["review"] }}</h2>
            <h2>{{ review[0]["rating"] }}</h2>
        {% else %}
            <p> No reviews yet! Be the first </p>
        {% endif %}
   {% endif %}
{% endblock %}
