{% extends "layout.html" %}
{% block title %}
    Contact
{% endblock %}
{% block content %}


<div class="contact">
    
        <h2> About This Project </h2>
        <p> This is a project for Harvard's CS50W, project 1.</p>
        <p> The goal of this project was for me to understand how Flask, SQL, HTML interact with an API, and database. </p>

        <h2> Contact Me </h2>
        <br> 
        <ul class="social-icons">
            <li class="icon"><i class="fa fa-envelope"> auschanh@gmail.com </i></li>
            <li class="icon"><a href="https://www.linkedin.com/in/austin-chanhsavang-145877118/"> <i class="fa fa-linkedin"></i></a></li>
            <li class="icon"><a href="https://github.com/auschanh"> <i class="fa fa-github"></i></a></li>
        </ul>
</div>

 {% endblock %}