{% extends "layout.html" %}
{% block title %}
    Contact
{% endblock %}
{% block content %}


<div class="contact">
    
        <h2> About This Project </h2>
        <h4> The goal of this project was to understand how Flask, SQL, HTML interact with an API, and database. Done with minimal JS</h4>
        <h4> This was created using data from a books.csv file from cs50w and the <a href="https://openlibrary.org/developers/api">openlibrary api</a></h4>

    </div>
    <div style="display: flex">
        <div class="social-contact">
            <h2> Contact Me </h2>
            <br>
           
            <ul class="social-icons">
                <li class="icon"><a href="mailto: auschanh@gmail.com"><i class="fa fa-envelope"> </i></a></li>
                <li class="icon"><a href="https://www.linkedin.com/in/austin-chanhsavang-145877118/"> <i class="fa-brands fa-linkedin"></i></a></li>
                <li class="icon"><a href="https://github.com/auschanh"> <i class="fa-brands fa-github"></i></a></li>
                <li class="icon"><a href="https://discordapp.com/users/auschanh"> <i class="fa-brands fa-discord"></i></a></li>
            </ul>
            <p> auschanh@gmail.com</p>
        </div>
        
    </div> 


 {% endblock %}