{% extends "layout.html" %}
{% block hero %}
<div class="hero-image">
        <div class="hero-text">
                {% with messages = get_flashed_messages() %}
                        {% if messages %}
                                {% for message in messages %}
                                        <h3> {{ message }} </h3>
                                {% endfor %}
                        {% endif %}
                {% endwith %}
                {% if session.username %}
                <div class ="welcome">
                        <h1> Welcome {{ session.username.title() }} </h1>
                </div>
                <h2> Get Started with GoodReads Book Reviews: </h2>
                        <ol class="logged-list">
                        <li> <a href="search">Search</a> for a book you love</li>
                        <li>Rate and Review your book</li>
                        <li>Share your thoughts and let your voice be heard! </li>
                <a href="search" class="btn btn-light" role="button"> Get Started! </a>
                {% else %}
                <h1> GoodReads Book Reviews </h1>
                <h2> Have your voice heard. </h2>
                <form action="/login" method="post">
                        <div class="container">
                                <h3 style="text-align: center;"> Login or <a href="register"> Create an Account </a></h3>
                            <form action="/login" method="POST">
                                <label for="uname"><b>Username</b></label>
                                <input class="index_uname"type="text" placeholder="Enter Username" name="username" required>
                        
                                <label for="psw"><b>Password</b></label>
                                <input class="index_upass" type="password" placeholder="Enter Password" name="password" required>
                        
                                <button class="btn btn-primary" type="submit">Login</button>
                               
                                </div>
                            </form>
                        
                        </form>
        {% endif %}

        </div>
</div> 
{% endblock %}
