{% extends "layout.html" %}
{% block title %}
    login
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
                {% for message in messages %}
                <h3 style="font-family: tahoma; color: black; text-align:  center;"> {{ message }} </h3>
                {% endfor %}
        {% endif %}
{% endwith %}
    <h3 style="text-align: center; margin-top: 30px;"> Login or <a href="register"> Create an Account </a></h3>
    <div class="container">
    <form action="/login" method="POST">
        <label for="uname"><b>Username</b></label>
        <input class="index_uname"type="text" placeholder="Enter Username" name="username" required>

        <label for="psw"><b>Password</b></label>
        <input class="index_upass" type="password" placeholder="Enter Password" name="password" required>

        <button class="btn btn-warning" type="submit">Login</button>
        
        </div>

    </form>
{% endblock %}